<div id="<%= dom_id e_wallet %>">
  <p>
    <strong>Customer:</strong>
    <%= e_wallet.customer %>
  </p>

  <p>
    <strong>Customer name:</strong>
    <%= e_wallet.customer_name %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= e_wallet.balance %>
  </p>

</div>
