<div id="<%= dom_id wallet_detail %>">
  <p>
    <strong>Wallet:</strong>
    <%= wallet_detail.wallet_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= wallet_detail.number %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= wallet_detail.balance %>
  </p>

</div>
